/* cabecalho */
.cabecalho {
    display: flex;
    width: 100%;
    height: 68px;
    background-color: rgb(0, 0, 0);
    z-index: 2;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;
    margin-left: 10px;
}

span{
    color: #FFF;
}

a{
    text-decoration: none;
}

.top-cine{
    color: #ff5e00c7;
}

.img-logo {
    height: 50px;
}

.container-cabecalho{
    display: flex;
    justify-content:space-between;
    max-width: 1670px;
    margin: auto;
    width: 100%;
    align-items: center;
}

/* navegação*/

.nav-link{
    width: 450px;
    margin-right: 20px;
}

.nav-link ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-link a{
    text-decoration: none ;
    font-size: 17px;
    font-weight: 500;
    padding: 10px;
    color: #FFF;
}

.nav-link li{
    transition: all 0.2s;
}

.nav-link li:hover{
    transform: translateY(-6px);
    cursor: pointer;
}

#link-test, #menu-hamburguer {
    display: none;
}

@media only screen and (max-width: 1280px) {
    .top-cine {
        font-size: 1.5rem;
    }

    .nav-link {
        width: 40%;
    }

    .nav-link a{
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 810px) {

    .logo {
        width: 150px;
        margin-left: 0;
    }

    .top-cine {
        font-size: 1.5rem;
    }

    .nav-link {
        margin-right: 0;
        font-size: 0.8rem;
    }

    .nav-link a {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 780px) {

    .nav-link {
        width: 50%;
    }
}

@media only screen and (max-width: 673px) {
    .nav-link {
        display: none;
    }

    #link-test {
        display: inline;
    }

    #menu-hamburguer {
        display: inline;
        margin-right: 30px;
    }
}

@media only screen and (max-width: 500px) {
    .top-cine {
        font-size: 1.2rem;
    }
}

