* {
    color: #FFF;
}

.cabecalho{
    position: fixed;
}

body{
    background-color: rgb(22, 22, 22);
}

.titulo-1{
    font-size: 70px;
    font-weight: 900;
}


.titulo-2 {
    font-size: 4rem;
    width: 70%;
    color: #BEA35F;
}


.subtitulo-2 {
    font-size: 1.5rem;
    font-weight: 300;
    width: 50%;
}

/* HOME */

.conteudo-principal {
    width: 100%;
    /* A main deve ocupar toda a largura disponível */
    max-width: 1700px;
    /* Limita a largura máxima para evitar que o conteúdo fique muito amplo em telas grandes */
    margin: 0 auto;
    /* Centraliza a main horizontalmente */
    padding: 20px;
    /* Adiciona um espaçamento interno para afastar o conteúdo das bordas */
    box-sizing: border-box;
    /* Garante que o padding não aumente a largura da main */

}

/* section 1 */

.section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    margin-top: 50px;
}

.container-texto {
    display: flex;
    flex-direction: column;
    width:60%;
    font-size: 3.5rem;
    color: #FFF;
    gap: 10px;
}


.container-texto h2{
    width: 80%;
    font-size: 30px;
    font-weight: 400;
}
.container-texto h1{
    font-size: 70px;
    font-weight: 900;
}

.btn-conhecer {
    background-color: #FF5F00;
    color: #FFF;
    height: 60px;
    font-size: 17px;
    font-weight: 700;
    width: 300px;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    cursor: pointer;
    transition: 0.4s all;
    margin-top: 60px;
}

.btn-conhecer:hover {
    background-color: #ff5e00c7;
}


.container-img-inicial {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
}


.container-img-inicial img{
    height: 800px;
    width: 100%;
}
/* section 2 */

.section-2, .section-3 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 100px 0px;
    gap: 30px;

}

.container-mensagem{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.container-mensagem img{
    height: 500px;
}



.container-img{
    height: 100%;
}



.container-texto-2{
    display: flex;
    flex-direction: column;;
    justify-content: flex-end;
    height: 100%;
    width: 50%;
    gap: 20px;
}


.container-texto-2 h2{
    width:100%;
}


.container-titulo h2 {
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: 20px;

}


/* section 3 - Categorias */

.section-4{
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 80px 0px;
}

.categoria-texto{
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.categoria-texto h2{
    width: 100%;
}


.container-texto-categoria{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: 50%;
}

.categoria-img{
    height: 400px;
    width: 600px;
}

.categoria-img img{
    height: 100%;
    width: 100%;
}

.container-card-categoria{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 60%;
    height: 100%;
    gap: 15px;
}




.section-2,
.section-3,
.section-4,
.section-5 {
    display: flex;
    width: 100%;
    border-top: 1px solid #ff5e00c7;
    margin-top: 70px;
    color: #FFF;

}




/* section 4 - Filmes */

.section-5{
    padding: 30px 0px;
}

.container-filmes {
    display: flex;
    gap: 10px;
    width: 100%;
    /* as 2 propriedades abaixo tornam o container responsivo sem itens invandindo uma area indesejada */
    height: auto;
    flex-wrap: wrap;
}

.container-texto2{
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.container-texto2 h2{
    width: 44%;
}

.categoria {
    width: 100%;
    border-top: 1px solid #ff5e00c7;
    color: #FFF;
}

.container-capa{
    transition: 0.4s all;
    cursor: pointer;

}

.container-capa:hover{
    transform: translateY(-10px);
    border: 1px solid #FF5F00;
}

/* responsividade - tablet */

@media only screen and (max-width:1281px ) {
    .section-1{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .section-1 .container-texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85%;
    }

    .section-1 h1 {
        width: 100%;
        text-align: center;
        font-size: 3.5rem;

    }

    .section-1 h2{
        width: 70%;
        text-align: center;
        font-size: 2rem;
    }

    .container-img-inicial img{
        display: none;
    }

    .section-2 .container-texto-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85%;
    }

    .section-2 h1 {
        text-align: center;
        font-size: 3.5rem;
    }

    .section-2 h2 {
        text-align: center;
        width: 75%;
    }

    .section-3 .container-texto-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85%;
    }

    .section-3 h1 {
        text-align: center;
        font-size: 3rem;
    }

    .section-3 h2 {
        text-align: center;
        width: 90%;
    }

    .section-3, .container-mensagem, .container-texto2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 70px;
    }
    
    .categoria-texto h1{
        width: 600px;
    }

    .section-4{
        display: flex;
        flex-direction: column;
    }

    .section-4 h2{
        width: 100%;
        text-align: center;
    }

    .section-4 .container-texto-categoria {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .section-4 .categoria-texto {
        display: flex;
        align-items: center;
    }

    .section-4 .container-texto-categoria h1 {
        display: block;
        width: 100%;

        text-align: center;

        font-size: 3.5rem;
    }

    .section-4 .container-texto-categoria h2 {
        width: 80%;
        text-align: center;
    }

    .section-4 .container-card-categoria {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;  

        width: 100%;
    }

    .section-4 .container-card-categoria a {
        width: 27%;
        height: 32%;
    }


    .section-5 .container-texto2 {
        align-items: start;
    }

    .section-5 .container-texto2 h1 {
        width: 100%;
        font-size: 4rem;
    }

    .section-5 .container-texto2 h2 {
        width: 88%;
        font-size: 2rem;
    }

    .card-categoria {
        width: 100%;
        height: 100%;
    }

    .container-mini-cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;

        width: 74%;
    }
}

@media only screen and (max-width:1025px ) {
    .section-1 h1 {
        font-size: 3rem ;
    }

    .section-1 h2 {
        width: 81%;
        font-size: 2rem ;
    }

    .section-2 h1 {
        font-size: 2.9rem;
    }

    .section-3 h1 {
        font-size: 2.6rem;
    }

    .section-3 h2 {
        width: 100%;
        font-size: 1.4rem;
    }

    .section-5 .container-titulo h1 {
        font-size: 3.6rem;
    }
}

@media only screen and (max-width:913px ) {
    .section-1 h1 {
        font-size: 2.5rem ;
    }

    .section-1 h2 {
        width: 90%;
        font-size: 1.8rem ;
    }

    .section-2 h1 {
        font-size: 2.9rem;
    }

    .section-3 h1 {
        width: 100%;
        font-size: 2.36rem;
    }

    .section-3 h2 {
        width: 90%;
        font-size: 1.7rem;
    }

    .section-4 .categoria-texto h1 {
        font-size: 3rem;
    }

    .section-5 .container-titulo h1 {
        font-size: 3.3rem;
    }

    .section-5 .container-titulo h2 {
        font-size: 2rem;
    }

    .section-5 .container-mini-cards .mini-card {
        width: 120px;
        height: 170px;
    }
}

@media only screen and (max-width:821px ) {
    .section-1 h1 {
        font-size: 2.4rem ;
    }

    .section-1 h2 {
        width: 90%;
        font-size: 1.7rem ;
    }

    .section-2 h1 {
        font-size: 2.7rem;
    }

    .section-2 h2 {
        width: 100%;
        font-size: 1.8rem;
    }

    .section-3 h1 {
        width: 100%;
        font-size: 2rem;
    }

    .section-3 h2 {
        width: 90%;
        font-size: 1.6rem;
    }

    .section-4 .categoria-texto h1 {
        font-size: 2.7rem;
    }

    .section-5 .container-titulo h1 {
        font-size: 3rem;
    }

    .section-5 .container-titulo h2 {
        font-size: 2rem;
    }
}

@media only screen and (max-width:769px ) {
    .section-1 h1 {
        font-size: 2.3rem ;
    }

    .section-1 h2 {
        width: 100%;
        font-size: 1.6rem ;
    }

    .section-2 h1 {
        font-size: 2.4rem;
    }

    .section-2 h2 {
        width: 90%;
        font-size: 1.8rem;
    }

    .section-3 h1 {
        width: 100%;
        font-size: 1.9rem;
    }

    .section-3 h2 {
        width: 90%;
        font-size: 1.3rem;
    }

    .section-4 .categoria-texto h1 {
        font-size: 2.5rem;
    }

    .section-5 .container-titulo h1 {
        font-size: 2.7rem;
    }

    .section-5 .container-titulo h2 {
        font-size: 2rem;
    }

    .section-5 .container-mini-cards .mini-card {
        width: 110px;
        height: 160px;
    }
}

@media only screen and (max-width: 731px ) {
    .section-1  h1 {
        font-size: 2rem;
    }

    .section-1 h2 {
        width: 85%;
        font-size: 1.4rem ;
    }

    .section-2 h1 {
        font-size: 2.4rem;
    }

    .section-2 h2 {
        width: 90%;
        font-size: 1.8rem;
    }

    .section-3 h1 {
        width: 100%;
        font-size: 1.8rem;
    }

    .section-3 h2 {
        width: 90%;
        font-size: 1.3rem;
    }

    .section-4 .categoria-texto h1 {
        font-size: 2.3rem;
    }

    .section-5 .container-titulo h1 {
        font-size: 2.5rem;
    }

    .section-5 .container-titulo h2 {
        font-size: 1.7rem;
    }

    .section-5 .container-mini-cards .mini-card {
        width: 95px;
        height: 135px;
    }
}

@media only screen and (max-width: 673px ) {

    .section-2 img {
        width: 550px;
    }

    .section-2 h1 {
        font-size: 2rem;
    }

    .section-2 h2 {
        width: 90%;
        font-size: 1.4rem;
    }


    .section-3 h1 {
        width: 100%;
        font-size: 1.7rem;
    }

    .section-3 h2 {
        width: 90%;
        font-size: 1.2rem;
    }

    .section-3 img {
        width: 550px;
        height: auto;
    }

    .section-4 .categoria-texto h1 {
        font-size: 2.1rem;
    }

    .section-4 .categoria-texto h2 {
        font-size: 1.3rem;
    }

    .section-5 .container-titulo h1 {
        font-size: 2.1rem;
    }

    .section-5 .container-titulo h2 {
        font-size: 1.4rem;
    }

    .section-5 .container-mini-cards .mini-card {
        width: 80px;
        height: 105px;
    }
}

@media only screen and (max-width: 600px ) {

    .section-1 h1 {
        font-size: 1.6rem;
    }

    .section-1 h2 {
        font-size: 1rem;
        margin-top: 10px;
    }

    .section-1 a {
        width: 30%;
        margin: 0;
    }

    .section-1 a .btn-conhecer {
        font-size: 0.8rem;

        width: 100%;
        height: 100%;
        padding: 15px;
        
        margin-top: 20px;
    }

    .section-2 {
        padding: 30px 0;
    }

    .section-2 img {
        width: 450px;
    }

    .section-2 h1 {
        font-size: 1.7rem;
    }

    .section-2 h2 {
        width: 90%;
        font-size: 1.2rem;
    }

    .section-3 h1 {
        width: 100%;
        font-size: 1.3rem;
    }

    .section-3 h2 {
        width: 90%;
        font-size: 0.9rem;
    }

    .section-3 img {
        width: 450px;
        height: auto;
    }

    .section-4 .categoria-texto h1 {
        font-size: 1.7rem;
    }

    .section-4 .categoria-texto h2 {
        font-size: 1.1rem;
    }

    .section-4 .categoria-img {
        width: 450px;
        height: auto;
    }

    .section-5 .container-titulo h1 {
        font-size: 1.6rem;
    }

    .section-5 .container-titulo h2 {
        font-size: 1.1rem;
    }

    .section-5 .container-mini-cards .mini-card {
        width: 60px;
        height: 90px;
    }
}

@media only screen and (max-width: 542px ) {

    .section-5 .container-titulo h1 {
        font-size: 1.5rem;
    }

    .section-5 .container-titulo h2 {
        font-size: 1rem;
    }

    .section-5 .container-mini-cards .mini-card {
        width: 45px;
        height: 60px;
    }
}

@media only screen and (max-width: 452px ) {

    .section-5 {
        margin-top: 0;
        padding-top: 0;
    }

    .section-5 .container-titulo h1 {
        font-size: 1rem;
    }

    .section-5 .container-titulo h2 {
        font-size: 0.7rem;
    }

    .container-texto2 {
        gap: 30px
    }

    .section-5 .container-mini-cards .mini-card {
        margin-top: 0;
        width: 60px;
        height: 80px;
    }
}

@media only screen and (max-width: 430px ) {

    .section-1 h1 {
        font-size: 1.2rem;
    }

    .section-1 h2 {
        font-size: 1rem;
        margin-top: 10px;
    }

    .section-1 a {
        width: 40%;
        margin: 0;
    }

    .section-1 a .btn-conhecer {
        font-size: 0.8rem;
        padding: 10px;
        margin-top: 15px;
    }

    .section-2 {
        padding: 0;
    }

    .section-2 img {
        width: 350px;
        height: auto;
        margin-top: 50px;
    }

    .section-2 h1 {
        font-size: 1.4rem;
    }

    .section-2 h2 {
        font-size: 1rem;
    }

    .section-3 {
        padding: 40px 0;
    }

    .section-3 h1 {
        font-size: 1rem;
    }

    .section-3 h2 {
        width: 90%;
        font-size: 0.7rem;
    }

    .section-3 img {
        width: 350px;
        height: auto;
    }

    .section-4 .categoria-texto h1 {
        font-size: 1.3rem;
    }

    .section-4 .categoria-texto h2 {
        font-size: 1rem;
    }

    .section-4 .categoria-img {
        width: 350px;
        height: auto;
    }

    .section-5 .container-titulo h1 {
        font-size: 1rem;
    }

    .section-5 .container-titulo h2 {
        font-size: 0.8rem;
    }

    .section-5 .container-mini-cards .mini-card {
        width: 53px;
        height: 80px;
    }
}

@media only screen and (max-width: 375px ) {

    .section-1 h1 {
        font-size: 1rem;
    }

    .section-1 h2 {
        font-size: 0.8rem;
        margin-top: 10px;
    }

    .section-1 a {
        width: 40%;
        margin: 0;
    }

    .section-1 a .btn-conhecer {
        font-size: 0.6rem;
        padding: 7px;
        margin-top: 15px;
    }

    .section-2 {
        padding: 0;
    }

    .section-2 img {
        width: 350px;
        height: auto;
        margin-top: 50px;
    }

    .section-2 h1 {
        font-size: 1.4rem;
    }

    .section-2 h2 {
        font-size: 1rem;
    }

    .section-3 {
        padding: 40px 0;
    }

    .section-3 h1 {
        font-size: 1rem;
    }

    .section-3 h2 {
        width: 90%;
        font-size: 0.7rem;
    }

    .section-3 img {
        width: 350px;
        height: auto;
    }

    .section-4 .categoria-texto h1 {
        font-size: 1.3rem;
    }

    .section-4 .categoria-texto h2 {
        font-size: 1rem;
    }

    .section-4 .categoria-img {
        width: 350px;
        height: auto;
    }

    .section-5 .container-titulo h1 {
        font-size: 1rem;
    }

    .section-5 .container-titulo h2 {
        font-size: 0.7rem;
    }

    .section-5 .container-mini-cards .mini-card {
        width: 45px;
        height: 55px;
    }
}

@media only screen and (max-width: 325px ) {

    .section-1 h1 {
        font-size: 0.8rem;
    }

    .section-1 h2 {
        font-size: 0.6rem;
    }

    .section-1 a {
        width: 30%;
        margin: 0;
    }

    .section-1 a .btn-conhecer {
        font-size: 0.4rem;
        padding: 4px;
        margin-top: 15px;
    }

    .section-2 img {
        width: 250px;
        height: auto;
        margin-top: 50px;
    }

    .section-2 h1 {
        font-size: 1rem;
    }

    .section-2 h2 {
        font-size: 0.7rem;
    }

    .section-3 {
        padding: 40px 0;
    }

    .section-3 h1 {
        font-size: 1rem;
    }

    .section-3 h2 {
        width: 90%;
        font-size: 0.7rem;
    }

    .section-3 img {
        width: 250px;
        height: auto;
    }

    .section-4 .categoria-texto h1 {
        font-size: 1rem;
    }

    .section-4 .categoria-texto h2 {
        font-size: 0.8rem;
    }

    .section-4 .categoria-img {
        width: 250px;
        height: auto;
    }

    .section-5 .container-titulo h1 {
        font-size: 0.8rem;
    }

    .section-5 .container-titulo h2 {
        font-size: 0.6rem;
    }

    .section-5 .container-mini-cards .mini-card {
        width: 35px;
        height: 45px;
    }
}